*{
    box-sizing: border-box;
}
body{
    min-height: 100vh; /* Changed from height to min-height */
    overflow-y: auto;/*  Allow scrolling if content exceeds viewport height */
    font-family: roboto;
    background-color: black;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
  
    text-decoration: none;
    color: black;
}
button{
    background-color: white;
    padding: 0.7vw 2vw;
    cursor: pointer;
}
.container{
    gap:5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 95vw;
}
nav{
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 1vw ;
    border-bottom: 5px solid white;
}
nav a{
 align-self: self-end;
}
.logo{
    text-align: center;
    font-size: 2vw;
}
.logo i{
    font-size: 3vw;
    margin-bottom: 0.3vw;
}

h1{
    margin: 0;
}

main{
    width: 100%;
    display: flex;
    gap: 2vw;
    overflow: hidden;
}
img{
   width: 30vw;
   height: 20vw;
   max-width: 390px;
   max-height: 255px;
}
.img{
    position: relative;
}
.img::after{
    content: '\f04b'; 
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    font-size: 3vw; 
    color: rgba(255, 255, 255, 0.8); 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 10; 
    cursor: pointer;
}

.under-photo {
    text-align: center;
}
h2{
    margin-bottom:0 ;
    font-weight: 500;
    font-size: 2.8vw;
    
}
p{
    margin-top: 0;
}
#green{
    color: #00D69F;
}
#red{
    color: #E75050;
}
#orange{
    color:#D27752;
}

@media (max-width: 472.8px) {
    .container{
        display: flex;
        flex-direction: column; 
        align-items: stretch; 
        gap: 2vw; 
    }
    main{
        flex-wrap: wrap;
        flex-direction: column;
        gap: 3vw;
    }
    img{
       width: 100%;
       height: auto;
          
     }
     h2{
        font-size: 8vw;
     }
     p{
        font-size: 4vw;
     }
     button{
        padding: 1.4vw 4vw;

    }
    .img::after{
        font-size: 8vw;
    }
}