* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: roboto;
    min-height: 100vh;
    max-width: 1440px;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    justify-self: center;
    width: 90%;
    height: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    gap: 1vw;
    width: 50%;

}

.logo i {
    font-size: 3rem;
}

h1 {
    font-size: 2rem;
}

.logo p {
    color: #007FF4;
    font-weight: 500;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    width: 50%;
}

#tel {
    color: black;
    font-size: 2rem;
    font-weight: 500;
    /* align-self: flex-end; */
}

.innerNav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    font-size: 1.2rem;
}

.selected {
    color: #007FF4;
}

.banner {
    max-width: 100%;

}

.main {
    display: flex;
    justify-content: center;
    align-items: space-around;
    gap: 3vw;

}

h2 {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 1vw;
}

.col {
    width: 25%;
}

.main img {
    width: 100%;
    height: 20vw;
}

.callUs {
    display: block;
    width: 15vw;
    background-color: #007FF4;
    color: white;
    padding: 1vw 2vw;
    justify-self: center;
    text-align: center;
    font-size: 2vw;
}

@media screen and (max-width: 690px) {
    body {
        padding: 0 1rem;
    }

    nav {
        flex-direction: column;
        align-items: center;
        height: auto;
        /* mak items fit in nav rather going under the banner*/
        gap: 1rem;
    }

    .logo {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .logo i {
        font-size: 2rem;
    }

    .logo h1 {
        font-size: 1.5rem;
        justify-self: center;
    }

    .logo p {
        font-size: 0.8rem;
    }

    .info {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
    }

    #tel {
        font-size: 1.2rem;
    }

    .innerNav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1vw;
    }

    .main {
        flex-direction: column;
        gap: 2rem;
    }

    .col {
        width: 90%;
        align-self: center;
    }

    .banner {
        border-radius: 1VW;
    }

    .main img {
        border-radius: 2VW;
        height: auto;
    }


    h2 {
        font-size: 1.5rem;
        /* Adjust heading size */
    }

    .callUs {
        width: auto;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        margin: 1rem auto;
    }
}