@import url();

*{
    box-sizing: border-box;
    margin:0 ;
}
body{
    background-color: #cb021c;
    font-family:"Roboto","sans-serif";
    margin: 0; 
    transition:background 0.4s ease-in-out;
}
a{
    color: white;
    text-decoration: none;
}
.phone{
    position:fixed;
    font-size: 2rem;
    top:2rem;
    right:2rem;
    
}
.bar{
    position:fixed;
    font-size: 2rem;
    top:2rem;
    left: 2rem;
}
.logo{
    font-size: 2rem;
    margin:2rem 0;
    text-align: center;
    color: white;
}
.logo i{
    font-size: 3rem;
}

.logo h2{
    font-weight: normal;
}

.logo p{
    color:#40020e;
    font-weight:bold;
}
.carousel-container{
    overflow: hidden;
   position: relative;
   height: 80vh;
   margin-top: 10rem;
   width: 100vw;
}
.carousel{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    transform: translatex(0);
    transition:transform 0.4s ease-in-out;
}
.slide{
  
    width: 100vw; 
    text-align: center;
    
}
.slide img{
    object-fit: cover;
    height: 400px;
    width: 400px;
    
}
.slide h1{
    color: white;
    font-size: 4rem;
    margin-top: -2rem;
    margin-bottom: 2.3rem;
}
.slide a{
    background-color: #40020e;
    padding:1rem 2rem;
    font-size: 1.5rem;
}
.arrow{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 70%;
    font-size: 5rem;
    color: black;
    opacity: 0.5;
    transform: translateY(-50%);
    cursor: pointer;
}
.left-arrow{
    left:2rem;
}
.right-arrow{
    right:2rem;
}